@import '../Style/_variables';


.home-overview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
  
    /* Condições Atuais */
    .current-conditions {
      padding: 15px;
      background-color: #f0f8ff;
      border-radius: 8px;
      border: 1px solid #d1e7fd;
  
      h2 {
        margin-bottom: 10px;
        color: #0056b3;
      }
  
      p {
        margin: 5px 0;
        font-size: 16px;
      }
    }
  
  
    /* Resumo dos Controles */
    .control-summary {
      padding: 15px;
      background-color: #f0fff4;
      border-radius: 8px;
      border: 1px solid #b8e6b8;
  
      h2 {
        margin-bottom: 10px;
        color: #388e3c;
      }
  
      .control-item {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
  
        .status {
          font-weight: bold;
          color: #2e7d32;
        }
      }
    }
}

.container4 {
  margin: 0 auto; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  max-width: 1100px; 
  height: 100%; 
  padding: 23px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  .dashboardBar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    max-width: 1000px; 
    height: 450px; 
    padding: 10px;
  }
}


