@import "../Style/_variables";

body{
  background-color: #e4e9f7;
}

.intro-text {
  font-size: 18px;
  color: #333;
  width: 95%;
  margin: auto;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  padding: 15px;
  display: flex;
  gap: 5%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Inicio scss do container estufa */
.estufa {
  padding: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.estufa img {
  padding: 5px;
  width: 90%;
  max-width: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.lamp-container {
  display: flex; 
  gap: 7px; 
  margin: 5px;
}

.lamp {
  margin-top: 8px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.status-button {
  margin: 20px 0px;
  padding: 0px 4px; 
  border-radius: 5px;
  font-size: 12px; 
  font-weight: bold;
  color: white;
  text-align: center;
  min-width: 80px; 
  height: 30px; 
  line-height: 30px; 
}
.status-button.on {
  background-color: rgb(60, 180, 60); 
}

.status-button.off {
  background-color: rgb(245, 58, 58); 
}

/* Fim scss do container estufa */



/* Inicio scss do container info */
.info {
  width: 60%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .status-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .status-card {
      width: 30%; 
      padding: 10px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px;
        color: #555;
      }

      span {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: #333;
      }
    }
  }

  .upd {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    .progress-card {
      display: flex;
      justify-content: space-between; 
      align-items: center; 
      width: 100%;
      padding: 15px;
      margin-top: 13px;
      border-radius: 3px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
      label {
        font-weight: bold;
        width: 150px; 
        text-align: left; 
      }
  
      input[type="range"] {
        width: 100%;
        max-width: 250px; 
      }
  
      span {
        margin-top: 5px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  
  }
  


/* Fim scss do container info */




.home-overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;

.alerts {
  padding: 15px;
  margin-top: 40px;
  background-color: #fff4e6;
  border-radius: 8px;
  border: 1px solid #ffd59d;

  h2 {
    margin-bottom: 10px;
    color: #d37b00;
  }

  p {
    color: #994d00;
    font-size: small;
    padding-left: 10px;
    margin-top: 30px;
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;

    li {
      margin-bottom: 5px;
      font-size: 14px;
      color: #994d00;
    }
  }
}
}


.go-to-dashboard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
      background-color: #45a049;
    }
  }
}
